<h3>
  <% if @products.size > 1 %>
    Estos <%= @products.size %> productos seran añadidos a tu lista
  <% else %>
    Este producto sera añadido a tu lista
  <% end %>
</h3>
<%= link_to :back, class: "btn btn-default" do %>
  <i class="glyphicon glyphicon-arrow-left"></i>
  Regresar
<% end %>
<hr>
<div class="row">
  <div class="col-sm-6">
    <h4>Crear una nueva lista</h4>
    <%= form_for(@list, html: { role: "form", class: "form-horizontal" }) do |f| %>
      <%= error_messages!(@list) %>
      <div class="form-group">
        <%= f.label :name, "Nombre", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Nombre" %>
        </div>
      </div>
      <% @products.each do |p| %>
        <%= hidden_field_tag "product_ids[]", p.id %>
      <% end %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= submit_tag "Crear", class: "btn btn-default", type: "submit", data: { confirm: 'Se van a remover todas los productos del carrito de compra. ¿Estás seguro?' } %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <% if @lists.any? %>
      <h4>Añadir compañias a una lista existente</h4>
      <%= form_for(@list, url: { action: "add_products" }, method: :put, html: { role: "form", class: "form-horizontal" }) do |f| %>
        <div class="form-group">
          <%= f.label :name, "Listas", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.select :id, @lists.collect{ |l| [l.name, l.id] }, {}, class: "form-control" %>
          </div>
        </div>
        <% @products.each do |p| %>
          <%= hidden_field_tag "product_ids[]", p.id %>
        <% end %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= submit_tag "Actualizar", class: "btn btn-default", type: "submit", data: { confirm: 'Se van a remover todas los productos del carrito de compra. ¿Estás seguro?' } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% k = 0 %>
<% @products.each_with_index do |p, index| %>
  <% if index % 3 == 0 %>
    <div class="row">
  <% end %>
  <div class="col-sm-4">
    <%= hidden_field_tag "product_ids[]", p.id %>
    <%= image_tag p.link.present? ? p.link : p.photo, class: "img-thumbnail size90" %>
    <%= p.name %>
  </div>
  <% k = k + 1 %>
  <% if k % 3 == 0 || @products.count == index + 1 %>
    <% k = 0 %>
    </div>
  <% end %>
<% end %>