<%= stylesheet "/stylesheets/static_pages.css" %>
<%= javascript "/javascripts/lists.js" %>
<div class="row content">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3>Mis Listas</h3>
    <label>Supermercado</label>
    <%= select_tag :supermarket, options_for_select(Supermarket.all.collect{ |c| [c.name, c.id] }, @supermarket), class: "form-control mb20" %>
    <% if @lists.any? %>
      <ul class="nav nav-tabs">
        <% @lists.each do |list| %>
          <li <%= "class=active" if (@lists.first == list) %>>
            <%= link_to list.name, "##{ list.name.gsub(' ','_') }", title: list.name, data: { toggle: "tab" } %>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% @lists.each do |list| %>
          <div class="tab-pane <%= "active" if (@lists.first == list) %>" id="<%= "#{ list.name.gsub(' ','_') }" %>">
            <article>
              <%= link_to destroy_list_path(list), class: "btn btn-danger fr", method: :delete, confirm: "¿Estás seguro que quieres eliminar #{ list.name }?" do %>
                <i class="glyphicon glyphicon-remove"></i>
                Eliminar lista
              <% end %>
              <%= form_tag new_finder_products_path do %>
                <% list.products.each do |p| %>
                  <%= hidden_field_tag "product_ids[]", p.id %>
                <% end %>
                <%= hidden_field_tag :supermarket_id, nil, class: "supermarket" %>
                <%= button_tag class: "btn btn-info fr mr10", type: "submit" do %>
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                  Generar ruta
                <% end %>
              <% end %>
              <h3><%= list.name %></h3>
              <hr>
              <% list.products.each do |p| %>
                <div class="row">
                  <div class="media col-sm-6">
                    <%= image_tag p.link, class: "thumb-logo size90" %>
                    <span><%= p.name %></span>
                  </div>
                  <div class="col-sm-6">
                    <%= form_tag destroy_product_lists_path, method: :delete do %>
                      <%= hidden_field_tag :id, list.id %>
                      <%= hidden_field_tag :product_id, p.id %>
                      <%= submit_tag "Remover Producto", class: "btn btn-danger fr", type: "submit", data: { confirm: "¿Estás seguro de querer eliminar el producto de la lista?" } %>
                    <% end %>
                  </div>
                </div>
                <hr>
              <% end %>
            </article>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"></button>
        <strong>No ha creado una lista todavía.</strong>
      </div>
    <% end %>
  </div>
</div>
