<% content_for :javascript do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?key=#{ GOOGLE_CONFIG['google_maps_api_key'] }&sensor=true" %>
  <%= javascript_tag do %>
    var markers = [];

    function initialize(){
      var mapOptions = {
        center: { lat: <%= @supermarket.latitude.blank? ?  GOOGLE_CONFIG['default_latitude'] : @supermarket.latitude %>, lng: <%= @supermarket.longitude.blank? ?  GOOGLE_CONFIG['default_longitude'] : @supermarket.longitude %> },
        zoom: <%= @supermarket.new_record? ? 13 : 15 %>
      };

      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      <%= "addMarker(new google.maps.LatLng(#{ @supermarket.latitude },#{ @supermarket.longitude }), map);" if @supermarket.latitude.present? && @supermarket.longitude.present? %>

      google.maps.event.addListener(map, 'click', function(event){
        $("#supermarket_latitude").val(event.latLng.lat());
        $("#supermarket_longitude").val(event.latLng.lng());
        setAllMap(null);
        addMarker(event.latLng, map);
      });
    }

    function addMarker(location, map){
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
      markers.push(marker);
    }

    function setAllMap(map){
      for (var i = 0; i < markers.length; i++){
        markers[i].setMap(map);
      }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  <% end %>
<% end %>
<%= form_for(@supermarket, html: { role: "form", class: "form-horizontal" }) do |f| %>
  <%= error_messages!(@supermarket) %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Nombre" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :address, class: "form-control", placeholder: "Dirección" %>
    </div>
  </div>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <div id="map-canvas"></div>
  <div class="form-group mt20">
    <div class="col-sm-12">
      <%= button_tag class: "btn btn-default", type: "submit" do %>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Guardar
      <% end %>
      <%= link_to supermarkets_admin_index_path, class: "btn btn-info" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      <% end %>
    </div>
  </div>
<% end %>
