<%= stylesheet "/stylesheets/admin.css" %>
<%= stylesheet "/stylesheets/supermarkets.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <h3>Editando Supermercado</h3>
    <%= render 'form' %>
  </div>
</div>
