<%= stylesheet "/stylesheets/static_pages.css" %>
<%= stylesheet "/stylesheets/supermarkets.css" %>
<% content_for :javascript do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?key=#{ GOOGLE_CONFIG['google_maps_api_key'] }&sensor=true" %>
  <%= javascript_tag do %>
    var map;
    var marker;
    var markers = [];

    function initialize(){
      var mapOptions = {
        zoom: 15
      };

      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      <% @supermarkets.each do |s| %>
        <%= "addMarker(new google.maps.LatLng(#{ s.latitude },#{ s.longitude }), map,"  %>"<%= s.name %>","<%= s.address %>", <%= s.id %>);
      <% end %>

      if (navigator.geolocation){
        navigator.geolocation.getCurrentPosition(function(position){
          var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

          map.setCenter(pos);
        }, function(){
          handleNoGeolocation(true);
        });
      } else {
        handleNoGeolocation(false);
      }
      setAnimation();
    }

    function handleNoGeolocation(errorFlag){

      var options = {
        map: map,
        position: new google.maps.LatLng(<%= GOOGLE_CONFIG['default_latitude'] %>, <%= GOOGLE_CONFIG['default_longitude'] %>)
      };

      map.setCenter(options.position);
    }

    function addMarker(location, map, name, address, id){
      marker = new google.maps.Marker({
        position: location,
        animation: google.maps.Animation.DROP,
        map: map,
        id: id
      });

      marker.info = new google.maps.InfoWindow({
        content: "<div style='width:200px;'>" + "<h4>" + name + "</h4>" + "<p>" + address + "</p>" + "</div>"
      });

      markers.push(marker);
    }

    function setAnimation(){
      for (var i = 0; i < markers.length; i++){
        google.maps.event.addListener(markers[i], 'click', function(){
          if (this.getAnimation() !== null){
            this.setAnimation(null);
            this.info.close();
          } else {
            this.setAnimation(google.maps.Animation.BOUNCE);
            this.info.open(map, this);
            var supermarket_id = this.id
            setTimeout(function(){
              window.location.href = "/search?supermarket_id=" + supermarket_id;
            }, 2000);
          }
        });
      }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  <% end %>
<% end %>
<div class="row content">
  <div class="col-md-12">
    <h3>Seleccione un Supermercado</h3>
    <div id="map-canvas"></div>
  </div>
</div>