<%= stylesheet "/stylesheets/supermarkets.css" %>
<% content_for :javascript do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?key=#{ GOOGLE_CONFIG['google_maps_api_key'] }&sensor=true" %>
  <%= javascript_tag do %>
    function initialize(){
      var mapOptions = {
        center: { lat: <%= @supermarket.latitude %>, lng: <%= @supermarket.longitude %> },
        zoom: 15
      };

      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      var marker = new google.maps.Marker({
        position: map.getCenter(),
        map: map
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  <% end %>
<% end %>
<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-primary text_center">
      <div class="panel-heading">
        <div class="panel_title">
          <%= @supermarket.name %>
        </div>
      </div>
      <div class="panel-body">
        <p>
          <strong>Dirección: </strong>
          <%= @supermarket.address %>
        </p>
        <div id="map-canvas" style="height:500px;"></div>
      </div>
      <div class="panel-footer">
        <%= link_to edit_supermarket_path(@supermarket), class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-pencil"></i>
          Editar
        <% end %>
        <%= link_to supermarkets_admin_index_path, class: "btn btn-info" do %>
          <i class="glyphicon glyphicon-arrow-left"></i>
          Regresar
        <% end %>
      </div>
    </div>
  </div>
</div>
