<%= stylesheet "/stylesheets/static_pages.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <h3>El equipo</h3>
    <hr>
    <div class="text1 col4">
      Pedro Vega
    </div>
    <%= image_tag "PedroVega.jpg", class: "img-rounded fl mr10", size: "150x150" %>
    <p class="justify">
      Estudiante de pregrado de décimo ciclo de Ingeniería Informática de la Póntificia Universidad Católica del Perú especializándose en Ingenieria de Software. Durante los cursos de carrera siempre lideró todos los proyectos de implementación de software, aprobándolos satisfactoriamente. Cuenta con conocimientos de varios lenguajes de programación y gestión de proyectos basado en la guía del PMBOK 5, de igual forma con aptitudes para desenvolverse en cualquier etapa del ciclo de vida de un software, con iniciativa para la investigación y asumidor de retos. Actualmente viene desarrollando aplicaciones web bajo el enfoque de metodologías ágiles. Además, cuenta con conocimientos de Tecnologías de Información de los frameworks COBIT 5.0 y ITIL 3.0.
    </p>
    <div class="fix_clear"></div>
    <br>
    <div class="text1 col4">
      Miguel Calderón
    </div>
    <%= image_tag "MiguelCalderon.jpg", class: "img-rounded fl mr10", size: "150x150" %>
    <p class="justify">
      Estudiante de pregrado de décimo ciclo de la carrera de Ingeniería Informática de la Pontificia Universidad Católica del Perú. Durante la carrera pasó por su preferencia de implementación de software a temas de auditoría, seguridad de la información y riesgos de TI. A nivel de desarrollo de software cuenta con conocimientos en los diversos lenguajes de programación usados actualmente. A nivel de gestión de proyectos, posee conocimientos de PMBOK 5 tanto en teoría y práctica adquiridos inicialmente por cursos propios de la carrera y por experiencia laboral. Con respecto a temas de TI, posee conocimientos de auditoria, conocimiento del framework COBIT 5.0 e ITIL v3.0, conocimientos en continuidad de negocios, fraude interno (COSO RM). Actualmente es miembro activo de la Asociación Internacional ISACA que promueve la certificación de habilidades y conocimientos críticos para el negocio y busca obtener algunas de las certificaciones que son brindadas por esta asociación.
    </p>
    <div class="fix_clear"></div>
    <br>
    <h3>Asesorados por</h3>
    <hr>
    <div class="text1">
      <div class="col4">
        César Beltran
      </div>
    </div>
    <%= image_tag "CesarBeltran.jpg", class: "img-rounded fl mr10", size: "150x150" %>
    <p class="justify">
      Doctor en Bioinformática, de la Universidad de Sao Paulo (USP), Brasil, su tesis "Análisis de Formas Biológicas para el Diagnóstico Automático" fue desarrollada en el Grupo de Visión Cibernética y el laboratorio de Biología Molecular de la USP. Su grado de Magister en Ciencia de la Computación de la Universidad de Sao Paulo, Brasil, sobre "Recuperación de Imágenes por Contenido mediante el Análisis de Multiresolución por Wavelets" fue desarrollado en el grupo de Base de Datos e Imágenes de la USP Sao Carlos. Graduado en Ingeniería de Sistemas por la Universidad Católica Santa María, Arequipa, Perú. Fue docente de la UCSM y UNSA de Arequipa. Ha desarrollado diversos proyectos de innovación tecnológica, habiendo obtenido varios reconocimientos.
    </p>
  </div>
</div>