<%= stylesheet "/stylesheets/static_pages.css" %>
<% content_for :javascript do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?key=#{ GOOGLE_CONFIG['google_maps_api_key'] }&sensor=true" %>
  <%= javascript_tag do %>
    var my_house = new google.maps.LatLng(-12.157356, -76.95726);
    var map;
    var marker;

    function initialize(){
      var mapOptions = {
        zoom: 16,
        center: my_house
      };

      map = new google.maps.Map(document.getElementById('map'), mapOptions);

      marker = new google.maps.Marker({
        map: map,
        draggable: false,
        animation: google.maps.Animation.BOUNCE,
        position: my_house
      });

      marker.info = new google.maps.InfoWindow({
        content: "<div style='width:250px;'>" + "<h4>Villa María del Triunfo, Lima</h4>" + "<p>Perú</p>" + "</div>"
      });

      marker.info.open(map, marker);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  <% end %>
<% end %>
<div class="row content">
  <div class="col-lg-6 col-md-6 col-xs-12">
    <h3>Encuentranos</h3>
    <div id="map"></div>
    <div class="address">
      Jr. San Antonio 201
      <br>
      Villa María del Triunfo, Lima, Perú
    </div>
    <div>
      Teléfono: +51 283 4243
      <br>
      Celular:  +51 992 245 075
      <br>
      Correo: pakgva@gmail.com
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-12">
    <h3>Contáctenos</h3>
    <%= error_messages!(@message) %>
    <%= form_for @message, url: submit_message_path, html: { role: "form", class: "form-horizontal", style: "padding:15px;" } do |f| %>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "Tu nombre completo" %>
      </div>
      <div class="form-group">
        <%= f.text_field :email, class: "form-control", placeholder: "Tu correo" %>
      </div>
      <div class="form-group">
        <%= f.text_field :subject, class: "form-control", placeholder: "El asunto" %>
      </div>
      <div class="form-group">
        <%= f.text_area :message, class: "form-control", placeholder: "El mensaje", rows: 8 %>
      </div>
      <div class="form-group">
        <%= f.submit "Enviar mensaje", class: "btn btn-danger fr" %>
      </div>
    <% end %>
  </div>
</div>