<%= stylesheet "/stylesheets/static_pages.css" %>
<%= javascript_tag do %>
  $(document).ready(function(){
    calculateHeightAndWidthDemo();
    bindEvents();
  });
  function calculateHeightAndWidthDemo(){
    var container = document.getElementById("output");
    var demo = document.getElementById("demo");

    var width = container.offsetWidth - 30;
    var height = width / 2;

    demo.style.width = width + "px";
    demo.style.height = height + "px";
  }
  function bindEvents(){
    $(window).resize(function(){
      calculateHeightAndWidthDemo();
    });
  }
<% end %>
<div class="row content" id="output">
  <h3 style="margin-left:15px;">Video demostración</h3>
  <hr>
  <embed src="/assets/demo.swf" id="demo" />
</div>