<%= stylesheet "/stylesheets/static_pages.css" %>
<div class="row main">
  <h2>
    <span class="col1">Finder</span>
    <span class="col2">Products</span>
    <span class="col3">Supermarket</span>
    <%= link_to "¡Buscar productos!", supermarkets_path %>
  </h2>
</div>
<div class="fix_clear"></div>
<div class="row content">
  <br>
  <p class="justify">
    Finder Products Supermarket (FPSM) ha venido desarrollando un sistema para poder brindar mejores servicios a nuestros clientes asiduos y a aquellos que se sientan interesados por disfrutar de nuestros servicios.
  </p>
  <p class="justify">
    Es por esto que al día de hoy se ha implementado un sistema de información en la que permitirá a cada uno de los clientes que frecuenten nuestros locales ingresar a nuestro sitio web desde cualquier dispositivo móvil u otros que utilicen navegadores web, para poder disfrutar de nuestros nuevos beneficios con los que se cuenta y que cumplirá con cada una de las necesidades que aún no han sido satisfechas por nosotros.
  </p>
  <p class="justify">
    Entre los beneficios que brindamos a través de este portal se tiene:
  </p>
  <ul>
    <li class="justify">
      El usuario podrá visualizar y navegar a través de su dispositivo por los espacios del local en donde se encuentre, ya que se ha virtualizado el espacio físico de cada uno de nuestros locales.
    </li>
    <li class="justify">
      El usuario podrá armar su lista de compras y además el propio sistema será capaz de sugerir productos afines a los que está escogiendo, logrando así que el usuario pueda comprar los productos que necesite sin que pueda olvidarse de alguno de ellos.
    </li>
    <li class="justify">
      Pensando en nuestros usuarios, también usted podrá conocer en todo momento la ubicación de cada uno de los productos contenidos en su lista de compras, de modo que le sea más fácil ubicarlos sin perder el tiempo en esta actividad.
    </li>
    <li class="justify">
      Como adicional a la ubicación de los productos, también se le brinda al usuario una ruta para que pueda recorrerla de modo tal que pueda llevar todos los productos seleccionados en su lista y lo haga de la forma más eficiente sin perderse ni recorrer demás.
    </li>
  </ul>
  <p class="justify">
    Cada uno de estos servicios han sido implementados pensando en usted, porque vemos la necesidad de brindarles los servicios que se merece y en forma de retribuir su preferencia hacia nosotros.
  </p>
  <p class="justify">
    Es por eso que esperamos que estos servicios sean del mejor de sus agrados y que ante cualquier eventualidad estaremos dispuesto a escucharlo y con su ayuda poder mejorar aún más.
  </p>
</div>