<%= form_for(@profile, html: { role: "form", class: "form-horizontal" }) do |f| %>
  <%= error_messages!(@profile) %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :names, autofocus: true, class: "form-control", placeholder: "Nombres" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :last_names, class: "form-control", placeholder: "Apellidos" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :dni, class: "form-control", placeholder: "DNI" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.date_select :birthday, start_year: 1950 %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.phone_field :phone, class: "form-control", placeholder: "Teléfono" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <div class="radio">
        <label>
          <%= f.radio_button :sex, true %> Masculino
        </label>
        <label>
          <%= f.radio_button :sex, false %> Femenino
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3">
      <%= image_tag @profile.photo.url, class: "img-thumbnail" %>
    </div>
    <div class="col-sm-9">
      <%= f.file_field :photo %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= button_tag class: "btn btn-danger fr", type: "submit" do %>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Actualizar
      <% end %>
    </div>
  </div>
<% end %>