<%= stylesheet "/stylesheets/static_pages.css" %>
<%= javascript "/javascripts/person_profiles.js" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <h3>Editar Perfil Personal</h3>
    <%= render 'form' %>
  </div>
</div>