<%= stylesheet "/stylesheets/static_pages.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <h3>Reenviar instrucciones de confirmación</h3>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: "form", class: "form-horizontal" }) do |f| %>
      <%= error_messages!(resource) %>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Correo" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= button_tag class: "btn btn-danger fr", type: "submit" do %>
            <i class="glyphicon glyphicon-envelope"></i>
            Reenviar instrucciones de confirmación
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>

