<%= stylesheet "/stylesheets/select2.css" %>
<%= stylesheet "/stylesheets/static_pages.css" %>
<%= stylesheet "/stylesheets/cart.css" %>
<%= javascript "/javascripts/isomer.js" %>
<%= javascript "/javascripts/select2.js" %>
<%= javascript "/javascripts/select2_locale_es.js" %>
<%= javascript "/javascripts/finder_products.js" %>
<div class="row content">
  <h3>Supermercado <%= @supermarket.name %></h3>
  <%= link_to search_index_path(supermarket_id: @supermarket.id), class: "btn btn-default back" do %>
    <i class="glyphicon glyphicon-arrow-left"></i>
    Regresar
  <% end %>
  <%= hidden_field_tag "supermarket_id", @supermarket.id %>
  <hr>
  <div class="col-lg-5 col-md-5 col-xs-12" id="shop-cart" data-cart-id="<%= current_user.id %>">
    <%= select_tag :product_supermarkets, options_for_select(@product_supermarkets.collect{ |c| [c.product.name, c.id] }), include_blank: true, data: { placeholder: "Agregar un Producto" } %>
    <div class="fix_clear"></div>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        Productos seleccionados
      </div>
      <div class="scroll-y" id="products-selected">
      </div>
    </div>
    <%= form_tag new_lists_path, id: "add-to-list" do %>
      <button type="submit" class="btn btn-success fr">
        <i class="glyphicon glyphicon-list-alt"></i>
        Crear lista
      </button>
    <% end %>
  </div>
  <div class="col-lg-7 col-md-7 col-xs-12" id="output">
    <div class="row" id="products_suggested"></div>
    <h3>Productos en el planograma</h3>
    <canvas id="layout"></canvas>
    <div class="navigation fr">
      <!--<button class="btn btn-default" id="zoom-plus">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
      <button class="btn btn-default" id="zoom-minus">
        <i class="glyphicon glyphicon-minus"></i>
      </button>-->
      <button class="btn btn-default" id="move-left">
        <i class="glyphicon glyphicon-chevron-left"></i>
      </button>
      <button class="btn btn-default" id="move-right">
        <i class="glyphicon glyphicon-chevron-right"></i>
      </button>
    </div>
    <div class="fix_clear"></div>
    <br>
    <h3>Categorias</h3>
    <div id="leyend">
      <% k = 0 %>
      <% @categories.each_with_index do |category, index| %>
        <% if index % 3 == 0 %>
          <div class="row">
        <% end %>
        <div class="col-sm-4">
          <div>
            <%= category[:name] %>
            <div class="category" style="background-color: <%= category[:color] %>;">
            </div>
          </div>
        </div>
        <% k += 1 %>
        <% if k % 3 == 0 || @categories.count == index + 1 %>
          <% k = 0 %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
