<%= form_for(@world, html: { role: "form", class: "form-horizontal" }) do |f| %>
  <%= error_messages!(@world) %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Nombre" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :xstart, min: "0", step: "1", class: "form-control", placeholder: "X inicio" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :ystart, min: "0", step: "1", class: "form-control", placeholder: "Y inicio" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :xend, min: "0", step: "1", class: "form-control", placeholder: "X fin" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :yend, min: "0", step: "1", class: "form-control", placeholder: "Y fin" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <div class="checkbox">
        <label>
          <%= f.check_box :state %>
          Activo
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= button_tag class: "btn btn-default", type: "submit" do %>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Guardar
      <% end %>
      <%= link_to worlds_admin_index_path, class: "btn btn-info" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      <% end %>
    </div>
  </div>
<% end %>
