<%= form_for(@apriori, url: association_rules_path, html: { role: "form", class: "form-horizontal" }) do |f| %>
  <%= error_messages!(@apriori) %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :confidence, step: "0.01", min: "0", max: "100", autofocus: true, class: "form-control", placeholder: "Confianza minimal" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :support, step: "0.01", min: "0", max: "100", class: "form-control", placeholder: "Soporte minimal" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.file_field :database %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= button_tag class: "btn btn-default", type: "submit" do %>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Guardar
      <% end %>
      <%= link_to association_rules_path, class: "btn btn-info" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      <% end %>
    </div>
  </div>
<% end %>
