<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @aprioris %></h4>
  <div class="mb20">
    <%= link_to new_association_rule_path, class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Configurar Regla
    <% end %>
  </div>
  <% if @aprioris.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Periodo</th>
            <th>Soporte minimal</th>
            <th>Confianza minimal</th>
            <th>Tiempo de ejecucíon</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @aprioris.each do |apriori| %>
            <tr>
              <td><%= l apriori.created_at, format: "%B - %Y" %></td>
              <td><%= "#{ "%.2f" % apriori.support }%" %></td>
              <td><%= "#{ "%.2f" % apriori.confidence }%" %></td>
              <td><%= apriori.execution_time %></td>
              <td>
                <% if apriori.execution_time.present? %>
                  <%= link_to association_rule_path(apriori), class: "btn btn-info" do %>
                    <i class="glyphicon glyphicon-eye-open"></i>
                    Ver Reglas
                  <% end %>
                <% else %>
                  <%= link_to edit_association_rule_path(apriori), class: "btn btn-warning" do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                    Editar
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @aprioris %>
  <% end %>
</div>