<table class="table table-bordered">
  <thead>
    <tr>
      <td>Regla</td>
      <td>Confianza</td>
    </tr>
  </thead>
  <tbody class="table-hover">
    <% @rules.each do |key, value| %>
      <% association_rule = key.split("=>") %>
      <% antecedent = association_rule[0].split(",") %>
      <% consequent = association_rule[1].split(",") %>
      <%
        packageAntecedentNames = []
        antecedent.each do |p|
          product = Product.scoped(conditions: ["id = ?", p]).first
          if product.nil?
            packageAntecedentNames << p
          else
            packageAntecedentNames << product.id_name_brand
          end
        end
        packageConsequentNames = []
        consequent.each do |p|
          product = Product.scoped(conditions: ["id = ?", p]).first
          if product.nil?
            packageConsequentNames << p
          else
            packageConsequentNames << product.id_name_brand
          end
        end
      %>
      <tr>
        <td>
          <%= link_to "#{ packageAntecedentNames.join(", ") } => #{ packageConsequentNames.join(", ") }", show_products_in_layout_association_rule_path(@apriori), data: { antecedent_ids: antecedent, consequent_ids: consequent }, class: "in-layout" %>
        </td>
        <td><%= "#{ "%.2f" % value }%" %></td>
      </tr>
    <% end %>
  </tbody>
</table>