<%= stylesheet "/stylesheets/admin.css" %>
<%= stylesheet "/stylesheets/show_products_in_layout.css" %>
<%= javascript "/javascripts/isomer.js" %>
<%= javascript "/javascripts/show_products_in_layout.js" %>
<div class="row content">
  <div class="col-md-offset-2 col-md-8" id="output">
    <% association_rule = @rule.split("=>") %>
    <% antecedent = association_rule[0].split(",") %>
    <% consequent = association_rule[1].split(",") %>
    <%
      packageAntecedentNames = []
      antecedent.each do |p|
        product = Product.scoped(conditions: ["id = ?", p]).first
        if product.nil?
          packageAntecedentNames << p
        else
          packageAntecedentNames << product.id_name_brand
        end
      end
      packageConsequentNames = []
      consequent.each do |p|
        product = Product.scoped(conditions: ["id = ?", p]).first
        if product.nil?
          packageConsequentNames << p
        else
          packageConsequentNames << product.id_name_brand
        end
      end
    %>
    <h4>Regla:
        <br>
        <br>
        <%= "#{ packageAntecedentNames.join(", ") } => #{ packageConsequentNames.join(", ") }" %>
    </h4>
    <div class="mb20">
      <%= link_to association_rule_path(@apriori), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      <% end %>
    </div>
    <hr>
    <%= hidden_field_tag :supermarket_id, @supermarket.id %>
    <canvas id="layout" data-products="<%= @products %>" data-url="<%= paths_association_rule_path(@apriori) %>"></canvas>
    <h3>Categorias</h3>
    <div id="leyend">
      <% k = 0 %>
      <% @categories.each_with_index do |category, index| %>
        <% if index % 3 == 0 %>
          <div class="row">
        <% end %>
        <div class="col-sm-4">
          <div>
            <%= category[:name] %>
            <div class="category" style="background-color: <%= category[:color] %>;">
            </div>
          </div>
        </div>
        <% k += 1 %>
        <% if k % 3 == 0 || @categories.count == index + 1 %>
          <% k = 0 %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>