<%= javascript "/javascripts/d3.js" %>
<%= javascript "/javascripts/d3.dependencyWheel.js" %>
<%= javascript "/javascripts/dataTables.js" %>
<%= javascript "/javascripts/dataTables.bootstrap.js" %>
<%= javascript "/javascripts/association_rules.js" %>
<%= stylesheet "/stylesheets/association_rules.css" %>
<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <div class="col-md-offset-2 col-md-8">
    <h3>Reglas de Asociación</h3>
    <%= link_to association_rules_path, class: "btn btn-default fr" do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    <% end %>
    <p>
      <strong>Periodo: </strong>
      <%= l @apriori.created_at, format: "%B - %Y" %>
    </p>
    <p>
      <strong>Confianza: </strong>
      <%= @apriori.confidence %>
    </p>
    <p>
      <strong>Soporte: </strong>
      <%= @apriori.support %>
    </p>
    <p>
      <strong>Base de Datos: </strong>
      <%= @apriori.database.name %>
    </p>
    <p>
      <strong>Tiempo de Ejecución</strong>
      <%= @apriori.execution_time %>
    </p>
    <hr>
    <div id="chart_placeholder" data-flare="<%= flare_association_rule_path(@apriori) %>" data-load-rules="<%= paginate_association_rule_path(@apriori) %>"></div>
    <div class="row">
      <%= form_for :filter, url: paginate_association_rule_path(@apriori), html: { id: "filter_form" } do |f| %>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <label>Antecedente</label>
            <%= f.number_field :antecedent, class: "form-control", placeholder: "Antecedente", min: 1, step: 1 %>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <label>Consecuente</label>
            <%= f.number_field :consequent, class: "form-control", placeholder: "Consecuente", min: 1, step: 1 %>
          </div>
        </div>
        <div class="row mt20">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <%= button_tag(type: "submit", class: 'btn btn-info fr') do %>
              <i class="glyphicon glyphicon-search"></i>
              Buscar
            <% end %>
          </div>
        </div>
      <% end %>
      <div id="rules" class="mt20"></div>
  </div>
</div>