<%= stylesheet "/stylesheets/static_pages.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <h3>Editar Usuario</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: "form", class: "form-horizontal"  }) do |f| %>
      <%= error_messages!(resource) %>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.email_field :email, class: "form-control", placeholder: "Correo" %>
        </div>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert"></button>
          <strong>Actualmente esperando confirmación para: <%= resource.unconfirmed_email %></strong>
        </div>
        <p></p>
      <% end %>
      <p>
        <i>(dejar en blanco si no quiere cambiarla)</i>
      </p>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmación de Contraseña" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Contraseña actual" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= button_tag class: "btn btn-danger fr", type: "submit" do %>
            <i class="glyphicon glyphicon-floppy-disk"></i>
            Guardar
          <% end %>
        </div>
      </div>
    <% end %>
    <h3>Cancelar mi cuenta</h3>
    <p>
      <%= link_to registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-danger" do %>
        <i class="glyphicon glyphicon-remove"></i>
        Cancelar mi cuenta
      <% end %>
    </p>
  </div>
</div>