<%= stylesheet "/stylesheets/static_pages.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <h3>Registro de Usuarios</h3>
    <% build_person_profile %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: "form", class: "form-horizontal" }) do |f| %>
      <%= error_messages!(resource) %>
      <%= f.fields_for :person_profile do |s| %>
        <div class="form-group">
          <div class="col-sm-12">
            <%= s.text_field :names, autofocus: true, class: "form-control", placeholder: "Nombres" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= s.text_field :last_names, class: "form-control", placeholder: "Apellidos" %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.email_field :email, class: "form-control", placeholder: "Correo" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmación de Contraseña" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= button_tag class: "btn btn-danger fr", type: "submit" do %>
            <i class="glyphicon glyphicon-user"></i>
            Registrarse
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>