<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @aisles %></h4>
  <div class="mb20">
    <%= link_to new_supermarket_aisle_path(@supermarket), class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Nuevo Pasillo
    <% end %>
    <%= link_to supermarkets_admin_index_path, class: "btn btn-info" do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    <% end %>
  </div>
  <% if @aisles.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Número</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @aisles.each do |aisle| %>
            <tr>
              <td><%= aisle.number %></td>
              <td><%= aisle.name %></td>
              <td>
                <%= link_to edit_supermarket_aisle_path(@supermarket, aisle), class: "btn btn-warning" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  Editar
                <% end %>
                <%= link_to supermarket_aisle_path(@supermarket, aisle), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  Eliminar
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @aisles %>
  <% end %>
</div>