<div class="panel panel-default">
  <div class="panel-heading">
    Filtrar búsqueda por:
  </div>
  <%= hidden_field_tag "supermarket_id", @supermarket.id %>
  <div class="panel-body">
    <div class="form-group">
      <%= text_field_tag "product", nil, class: "form-control", placeholder: "Producto", autofocus: true %>
    </div>
    <div class="form-group">
      <%= button_tag class: "btn btn-danger fr", type: "submit", id: "search" do %>
        <i class="glyphicon glyphicon-search"></i>
        Buscar
      <% end %>
    </div>
  </div>
  <div class="panel-heading body-title">Categorías</div>
  <div class="panel-body">
    <div class="scroll-y">
      <% @categories.each do |category| %>
        <label>
          <%= radio_button_tag "category_id", category.id %>
          <%= category.name %>
        </label>
        <br>
      <% end %>
    </div>
  </div>
  <div class="panel-heading body-title sub_categories">Sub Categorías</div>
  <div class="panel-body sub_categories" id="sub_categories">
  </div>
  <div class="panel-heading body-title">Marcas</div>
  <div class="panel-body">
    <div class="scroll-y">
      <% @brands.each do |brand| %>
        <label>
          <%= check_box_tag "brand_ids[]", brand.id %>
          <%= brand.name %>
        </label>
        <br>
      <% end %>
    </div>
  </div>
  <div class="panel-heading body-title">Precio</div>
  <div class="panel-body">
    <div class="scroll-y">
      <label>
        <%= check_box_tag "price_ids[]", 1  %> S/. 1.00 - S/. 10.00
      </label>
      <br>
      <label>
        <%= check_box_tag "price_ids[]", 2  %> S/. 10.00 - S/. 25.00
      </label>
      <br>
      <label>
        <%= check_box_tag "price_ids[]", 3  %> S/. 25.00 - S/. 50.00
      </label>
      <br>
      <label>
        <%= check_box_tag "price_ids[]", 4  %> S/. 50.00 - S/. 100.00
      </label>
      <br>
      <label>
        <%= check_box_tag "price_ids[]", 5  %> S/. 100.00 - $/. 200.00
      </label>
      <br>
    </div>
  </div>
</div>