<%= stylesheet "/stylesheets/static_pages.css" %>
<%= stylesheet "/stylesheets/search.css" %>
<%= javascript "/javascripts/search.js" %>
<div class="row content">
  <h3 class="supermarket">Productos de <%= @supermarket.name %></h3>
  <div class="actions">
    <%= link_to supermarkets_path, class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    <% end %>
    <%= form_tag new_lists_path, id: "add-to-list" do %>
      <button type="submit" class="btn btn-success">
        <i class="glyphicon glyphicon-list-alt"></i>
        Crear lista
      </button>
    <% end %>
  </div>
  <hr>
  <div class="col-lg-3 col-md-3 col-xs-12" id="filter">
    <%= render "filter" %>
  </div>
  <div class="col-lg-9 col-md-9 col-xs-12">
    <div class="row" id="products_suggested"></div>
    <div id="order_by" class="mb20">
      <strong class="mr10">Ordenar por:</strong>
      <%= link_to "Precio mas alto a mas bajo", "#", class: "active", data: { order_id: 1 } %>
      &#124;
      <%= link_to "Precio mas bajo a mas alto", "#", data: { order_id: 2 } %>
      &#124;
      <%= link_to "Agregados recientemente", "#", data: { order_id: 3 } %>
    </div>
    <div id="products"></div>
  </div>
</div>