<% if @product_supermarkets.any? %>
  <% k = 0 %>
  <% @product_supermarkets.each_with_index do |product_supermarket, index| %>
    <% if index % 3 == 0 %>
      <div class="row mb20">
    <% end %>
    <div class="col-sm-4">
      <div class="product">
        <div class="pay">
          <div class="price">
            <%= number_to_currency(product_supermarket.unit_price) %>
          </div>
        </div>
        <%= image_tag product_supermarket.product.link, class: "img-thumbnail", style: "height:250px;" %>
        <div class="cart">
          <div class="action">
            <%= link_to "", class: "btn btn-danger fr", data: { target: product_supermarket.cart_action(current_user.id), addUrl: cart_add_to_path(current_user.id, product_supermarket), removeUrl: cart_remove_from_path(current_user.id, product_supermarket) } do %>
              <i class="glyphicon glyphicon-shopping-cart"></i>
              <span>
                <%= product_supermarket.cart_action(current_user.id) %>
              </span> Carro
            <% end %>
          </div>
        </div>
        <div class="fix_clear"></div>
        <div class="text1 col4">
          <%= product_supermarket.product.name %>
        </div>
        <p>
          <%= product_supermarket.product.description %>
        </p>
      </div>
    </div>
    <% k += 1 %>
    <% if k % 3 == 0 || @product_supermarkets.count == index + 1 %>
      <% k = 0 %>
      </div>
    <% end %>
  <% end %>
  <%= paginate @product_supermarkets %>
  <div class="fix_clear"></div>
<% end %>