<% if @sub_categories.any? %>
  <div class="scroll-y">
    <% @sub_categories.each do |sub_category| %>
      <label>
        <%= check_box_tag "sub_category_ids[]", sub_category.id %>
        <%= sub_category.name %>
      </label>
      <br>
    <% end %>
  </div>
<% end %>