<% if @brands.any? %>
  <ul class="list-group">
    <% @brands.each do |brand| %>
      <li class="list-group-item">
        <%= brand.name %>
        <small><%= time_ago_in_words(brand.created_at) %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"></button>
    <strong>No existe una marca todavía.</strong>
  </div>
<% end %>