<% if @categories.any? %>
  <ul class="list-group">
    <% @categories.each do |category| %>
      <li class="list-group-item">
        <%= category.name %>
        <small><%= time_ago_in_words(category.created_at) %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"></button>
    <strong>No existe una categoría todavía.</strong>
  </div>
<% end %>