<% if @gondolas.any? %>
  <ul class="list-group">
    <% @gondolas.each do |gondola| %>
      <li class="list-group-item">
        <%= gondola.code_name %>
        <small><%= time_ago_in_words(gondola.created_at) %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"></button>
    <strong>No existe una gondola todavía.</strong>
  </div>
<% end %>