<% if @messages.any? %>
  <ul class="list-group">
    <% @messages.each do |message| %>
      <li class="list-group-item">
        <%= message.subject %>
        <small><%= time_ago_in_words(message.created_at) %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"></button>
    <strong>No existe un mensaje todavía.</strong>
  </div>
<% end %>