<% if @products.any? %>
  <ul class="list-group">
    <% @products.each do |product| %>
      <li class="list-group-item">
        <%= image_tag product.link.present? ? product.link : product.photo, class: "img-rounded size90 mr10" %>
        <%= product.name %>
        <small><%= time_ago_in_words(product.created_at) %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"></button>
    <strong>No existe un producto todavía.</strong>
  </div>
<% end %>