<% if @supermarkets.any? %>
  <ul class="list-group">
    <% @supermarkets.each do |supermarket| %>
      <li class="list-group-item">
        <%= "#{ supermarket.name } [#{ supermarket.address }]" %>
        <small><%= time_ago_in_words(supermarket.created_at) %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"></button>
    <strong>No existe un supermercado todavía.</strong>
  </div>
<% end %>