<% if @users.any? %>
  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= image_tag user.person_profile.photo, class: "img-rounded size90 mr10" %>
        <%= user.person_profile.full_name %>
        <small><%= time_ago_in_words(user.created_at) %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"></button>
    <strong>No existe un usuario todavía.</strong>
  </div>
<% end %>