<% if @worlds.any? %>
  <ul class="list-group">
    <% @worlds.each do |world| %>
      <li class="list-group-item">
        <%= world.name %>
        <small><%= time_ago_in_words(world.created_at) %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"></button>
    <strong>No existe un mundo todavía.</strong>
  </div>
<% end %>