<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @brands %></h4>
  <div class="mb20">
    <%= link_to new_brand_path, class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Nueva Marca
    <% end %>
  </div>
  <% if @brands.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @brands.each do |brand| %>
            <tr>
              <td><%= brand.name %></td>
              <td>
                <%= link_to edit_brand_path(brand), class: "btn btn-warning" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  Editar
                <% end %>
                <%= link_to brand, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  Eliminar
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @brands %>
  <% end %>
</div>