<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @categories %></h4>
  <div class="mb20">
    <%= link_to new_category_path, class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Nueva Categoría
    <% end %>
  </div>
  <% if @categories.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Mundo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= category.world.name %></td>
              <td>
                <%= link_to edit_category_path(category), class: "btn btn-warning" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  Editar
                <% end %>
                <%= link_to category, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  Eliminar
                <% end %>
                <%= link_to category_sub_categories_path(category), class: "btn btn-info" do %>
                  <i class="glyphicon glyphicon-list"></i>
                  Ver Sub Categorias
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @categories %>
  <% end %>
</div>