<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @gondolas %></h4>
  <div class="mb20">
    <%= link_to new_gondola_path, class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Nueva Góndola
    <% end %>
  </div>
  <% if @gondolas.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Pasillo</th>
            <th>Categoría</th>
            <th>Niveles</th>
            <th>Cuerpos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @gondolas.each do |gondola| %>
            <tr>
              <td><%= gondola.name %></td>
              <td><%= gondola.aisle.name %></td>
              <td><%= gondola.category.name %></td>
              <td><%= gondola.rows_count %></td>
              <td><%= gondola.columns_count %></td>
              <td>
                <%= link_to gondola, class: "btn btn-info" do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
                  Ver
                <% end %>
                <%= link_to edit_gondola_path(gondola), class: "btn btn-warning" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  Editar
                <% end %>
                <%= link_to gondola, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  Eliminar
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @gondolas %>
  <% end %>
</div>