<%= javascript "/javascripts/admin.js" %>
<%= stylesheet "/stylesheets/admin.css" %>
<div class="content" id="admin-panel">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="panel panel-default">
         <div class="panel-heading">
          <%= link_to association_rules_path, class: "btn btn-info fr" do %>
            <i class="glyphicon glyphicon-list"></i>
            Ver todas
          <% end %>
          <h4>Reglas de Asociación de Productos</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to users_admin_index_path, class: "btn btn-info fr" do %>
            <i class="glyphicon glyphicon-list"></i>
            Ver todos
          <% end %>
          <h4>Nuevos Usuarios</h4>
        </div>
        <div class="panel-body" id="new_users" data-target="<%= users_admin_index_url(format: :js) %>">
          <div class="badge badge-info">
            <i class="icon-white icon-time"></i>
            Cargando
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to messages_admin_index_path, class: "btn btn-info fr" do %>
            <i class="glyphicon glyphicon-list"></i>
            Ver todos
          <% end %>
          <h4>Nuevos Mensajes</h4>
        </div>
        <div class="panel-body" id="new_messages" data-target="<%= messages_admin_index_url(format: :js) %>">
          <div class="badge badge-info">
            <i class="icon-white icon-time"></i>
            Cargando
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to supermarkets_admin_index_path, class: "btn btn-info fr" do %>
            <i class="glyphicon glyphicon-list"></i>
            Ver todos
          <% end %>
          <h4>Nuevos Supermercardos</h4>
        </div>
        <div class="panel-body" id="new_supermarkets" data-target="<%= supermarkets_admin_index_url(format: :js) %>">
          <div class="badge badge-info">
            <i class="icon-white icon-time"></i>
            Cargando
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to new_supermarket_path, class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-plus"></i>
            Nuevo Supermercado
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to worlds_admin_index_path, class: "btn btn-info fr" do %>
            <i class="glyphicon glyphicon-list"></i>
            Ver todos
          <% end %>
          <h4>Nuevos Mundos</h4>
        </div>
        <div class="panel-body" id="new_worlds" data-target="<%= worlds_admin_index_url(format: :js) %>">
          <div class="badge badge-info">
            <i class="icon-white icon-time"></i>
            Cargando
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to new_world_path, class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-plus"></i>
            Nuevo Mundo
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to categories_admin_index_path, class: "btn btn-info fr" do %>
            <i class="glyphicon glyphicon-list"></i>
            Ver todas
          <% end %>
          <h4>Nuevas Categorias</h4>
        </div>
        <div class="panel-body" id="new_categories" data-target="<%= categories_admin_index_url(format: :js) %>">
          <div class="badge badge-info">
            <i class="icon-white icon-time"></i>
            Cargando
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to new_category_path, class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-plus"></i>
            Nueva Categoría
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to gondolas_admin_index_path, class: "btn btn-info fr" do %>
            <i class="glyphicon glyphicon-list"></i>
            Ver todas
          <% end %>
          <h4>Nuevas Góndolas</h4>
        </div>
        <div class="panel-body" id="new_gondolas" data-target="<%= gondolas_admin_index_url(format: :js) %>">
          <div class="badge badge-info">
            <i class="icon-white icon-time"></i>
            Cargando
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to new_gondola_path, class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-plus"></i>
            Nueva Góndola
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to brands_admin_index_path, class: "btn btn-info fr" do %>
            <i class="glyphicon glyphicon-list"></i>
            Ver todas
          <% end %>
          <h4>Nuevas Marcas</h4>
        </div>
        <div class="panel-body" id="new_brands" data-target="<%= brands_admin_index_url(format: :js) %>">
          <div class="badge badge-info">
            <i class="icon-white icon-time"></i>
            Cargando
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to new_brand_path, class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-plus"></i>
            Nueva Marca
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to products_admin_index_path, class: "btn btn-info fr" do %>
            <i class="glyphicon glyphicon-list"></i>
            Ver todos
          <% end %>
          <h4>Nuevos Productos</h4>
        </div>
        <div class="panel-body" id="new_products" data-target="<%= products_admin_index_url(format: :js) %>">
          <div class="badge badge-info">
            <i class="icon-white icon-time"></i>
            Cargando
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to new_product_path, class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-plus"></i>
            Nuevo Producto
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>