<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <div class="mb20">
    <%= link_to messages_admin_index_path, class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    <% end %>
  </div>
  <hr>
  <p>
    <strong>De: </strong>
    <%= @message.name %>
  </p>
  <p>
    <strong>Correo:</strong>
    <%= @message.email %>
  </p>
  <p>
    <strong>Asunto:</strong>
    <%= @message.subject %>
  </p>
  <p>
    <strong>Mensaje:</strong>
    <%= @message.message %>
  </p>
</div>