<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @messages %></h4>
  <% if @messages.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Asunto</th>
            <th>Enviado por</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @messages.each do |message| %>
            <tr>
              <td>
                <%= link_to message.subject, message_admin_index_path(id: message.id) %>
              </td>
              <td>
                <%= message.name %>
              </td>
              <td>
                <%= time_ago_in_words(message.created_at) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @messages %>
  <% end %>
</div>