<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @products %></h4>
  <div class="mb20">
    <%= link_to new_product_path, class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Nuevo Producto
    <% end %>
  </div>
  <% if @products.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría - Sub Categoría</th>
            <th>Marca</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @products.each do |product| %>
            <tr>
              <td>
                <%= image_tag product.link.present? ? product.link : product.photo, class: "size40 mr10" %>
                <%= product.name %>
              </td>
              <td><%= product.category_sub_category %></td>
              <td><%= product.brand.name %></td>
              <td>
                <%= link_to product, class: "btn btn-info" do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
                  Ver
                <% end %>
                <%= link_to edit_product_path(product), class: "btn btn-warning" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  Editar
                <% end %>
                <%= link_to product, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  Eliminar
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @products %>
  <% end %>
</div>