<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @supermarkets %></h4>
  <div class="mb20">
    <%= link_to new_supermarket_path, class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Nuevo Supermercado
    <% end %>
  </div>
  <% if @supermarkets.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @supermarkets.each do |supermarket| %>
            <tr>
              <td><%= supermarket.name %></td>
              <td><%= supermarket.address %></td>
              <td>
                <%= link_to supermarket, class: "btn btn-info" do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
                  Ver
                <% end %>
                <%= link_to edit_supermarket_path(supermarket), class: "btn btn-warning" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  Editar
                <% end %>
                <%= link_to supermarket, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  Eliminar
                <% end %>
                <%= link_to supermarket_aisles_path(supermarket), class: "btn btn-info" do %>
                  <i class="glyphicon glyphicon-list"></i>
                  Ver Pasillos
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @supermarkets %>
  <% end %>
</div>