<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @users %></h4>
  <% if @users.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre Completo</th>
            <th>Correo</th>
            <th>Número de sesiones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= image_tag user.person_profile.photo, class: "size40 mr10" %>
                <%= user.person_profile.full_name %>
              </td>
              <td><%= user.email %></td>
              <td><%= user.sign_in_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @users %>
  <% end %>
</div>