<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @worlds %></h4>
  <div class="mb20">
    <%= link_to new_world_path, class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Nuevo Mundo
    <% end %>
  </div>
  <% if @worlds.any? %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <% @worlds.each do |world| %>
          <tr>
            <td><%= world.name %></td>
            <td>
              <%= link_to edit_world_path(world), class: "btn btn-warning" do %>
                <i class="glyphicon glyphicon-pencil"></i>
                Editar
              <% end %>
              <%= link_to world, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" do %>
                <i class="glyphicon glyphicon-remove"></i>
                Eliminar
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @worlds %>
  <% end %>
</div>