<%= form_for([@product, @product_supermarket], html: { role: "form", class: "form-horizontal" }) do |f| %>
  <%= error_messages!(@product_supermarket) %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.select :supermarket_id, Supermarket.all.collect{ |c| [c.name, c.id] }, { include_blank: "Seleccione supermercado" }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :unit_price, min: "0", step: "0.01", class: "form-control", placeholder: "Precio Unitario" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= button_tag class: "btn btn-default", type: "submit" do %>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Guardar
      <% end %>
      <%= link_to product_product_supermarkets_path(@product), class: "btn btn-info" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      <% end %>
    </div>
  </div>
<% end %>