<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @product_supermarkets %> para <%= @product.name %></h4>
  <div class="mb20">
    <%= link_to new_product_product_supermarket_path(@product), class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Asignar Supermercado
    <% end %>
    <%= link_to products_admin_index_path, class: "btn btn-info" do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    <% end %>
  </div>
  <% if @product_supermarkets.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Supermercado</th>
            <th>Precio Unitario</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @product_supermarkets.each do |product_supermarket| %>
            <tr>
              <td><%= product_supermarket.supermarket.name %></td>
              <td><%= number_to_currency(product_supermarket.unit_price) %></td>
              <td>
                <%= link_to edit_product_product_supermarket_path(@product, product_supermarket), class: "btn btn-warning" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  Editar
                <% end %>
                <%= link_to product_product_supermarket_path(@product, product_supermarket), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  Eliminar
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @product_supermarkets %>
  <% end %>
</div>