<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <h3>Asignar Supermercado a producto <%= @product.name %></h3>
    <%= render "form" %>
  </div>
</div>