.content{
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgb(238, 238, 238);
}
#admin-panel .panel-body{
  overflow-y: auto;
  max-height: 300px;
}
.header{
  background-color: #16cbe6;
  border-top: 4px solid #0fa6bc;
  border-bottom: 1px solid #0fa6bc;
}
.body{
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-size: 13px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  background: #fafafa url('/assets/main-back.png') repeat;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{
  color: #fff;
  font-weight: bold;
}
.navbar-brand{
  font-size: 30px;
}
.panel-primary{
  border: 1px solid #0fa6bc;
}
.panel-primary .panel-heading{
  background-color: #16cbe6;
  border: 1px solid #0fa6bc;
}