.content h3, .back{
  margin-left: 15px;
}
#shop-cart .panel-heading{
  font-family: "Anton";
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6900;
  border-color: #ff6900;
}
#shop-cart .col-sm-2{
  padding: 0px;
}
.scroll-y{
  overflow-y: auto;
  max-height: 600px;
}
.img-thumbnail{
  border: 0;
}
.remove-product{
  float: right;
  color: #ff6900;
}
#layout{
  border:11px solid #f6f3eb;
}
.navigation{
  margin-right: 10px;
}
#myCarousel{
  margin: 15px;
  border: 11px solid #f6f3eb;
}

#myCarousel h3{
  color: #ff6900;
  float: right;
}
#myCarousel img{
  margin-left: 20%;
}
#myCarousel .carousel-caption{
  float: right;
  margin-right: 5%;
  padding-bottom: 15px;
}
#products_suggested p{
  margin-left: 15px;
}
.text1{
  margin-top: 14px;
}
.navigation-up, .navigation-down {
  margin-left: 22px;
}
#leyend{
  border: 11px solid #f6f3eb;
  padding-right: 15px;
  padding-left: 15px;
}
#leyend .row{
  margin-top: 10px;
  margin-bottom: 10px;
}
.category{
  height: 20px;
  width: 40px;
  display: inline-block;
  float: right;
}
.col-sm-4{
  padding-left: 10px;
  padding-right: 10px;
}
.modal-body td{
  text-align: center;
  vertical-align: middle !important;
}