.supermarket, .btn-default{
  margin-left: 15px;
}

#filter .scroll-y{
  overflow-y: auto;
  height: 270px;
}
#filter .panel-heading{
  font-family: "Anton";
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6900;
  border-color: #ff6900;
}
#filter .panel{
  border-color: #ff6900;
}
.product .pay{
  position: absolute;
  right: 3px;
  top: 4px;
}
.pay{
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  font: 23px/18px 'Anton';
}
.price{
  position: relative;
  min-width: 72px;
  text-align: center;
  background-color: #ffbc00;
  font-size: 26px;
  padding: 16px 19px 18px;
  margin: -4px 13px 0 0;
}
.pay *{
  border-radius: 4px;
  display: inline-block;
}
.img-thumbnail{
  border: 0;
}
#myCarousel{
  margin: 15px;
  border: 11px solid #f6f3eb;
}

#myCarousel h3{
  color: #ff6900;
  float: right;
}
#myCarousel img{
  margin-left: 20%;
}
#myCarousel .carousel-caption{
  float: right;
  margin-right: 5%;
  padding-bottom: 15px;
}
#products_suggested p{
  margin-left: 15px;
}
.text1{
  margin-top: 14px;
}
.actions form{
  display: inline-block;
  margin-left: 5px;
}
#order_by a{
  color: #ff6900;
  text-decoration: none;
}
#order_by a:hover{
  color: #1e896f;
  text-decoration: none;
}
#order_by a.active{
  color: #1e896f;
}