#layout{
  border: 11px solid rgb(238, 238, 238);
}
#leyend{
  border: 11px solid #f6f3eb;
  padding-right: 15px;
  padding-left: 15px;
}
#leyend .row{
  margin-top: 10px;
  margin-bottom: 10px;
}
.category{
  height: 20px;
  width: 40px;
  display: inline-block;
  float: right;
}
.col-sm-4{
  padding-left: 10px;
  padding-right: 10px;
}