.main{
  text-align: right;
  border: 11px solid #fff;
  background: url("/assets/main.jpg") center 0 no-repeat;
  background-size: cover;
  font-family: "Anton";
}
.main h2{
  font-size: 89px;
  line-height: 50px;
  margin-bottom: 28px;
  letter-spacing: -1px;
  font-weight: normal;
  text-transform: uppercase;
}

.main a{
  text-decoration: none;
  color: #fff;
  letter-spacing: -1px;
  text-transform: uppercase;
  background-color: #a3bf06;
  padding: 13px 20px 14px;
  display: inline-block;
  border-radius: 4px;
  font-size: 27px;
  line-height: 27px;
}
.main a:hover{
  background-color: #1e896f;
}
h3{
  font-family: "Anton";
  text-transform: uppercase;
  line-height: 21px;
  color: #656358;
}

h2 span{
  display: block;
  margin-right: 20px;
}
h2 a{
  margin-right: 20px;
}
h2 .col1{
  color: #ffbc00;
}
h2 .col2{
  line-height: 80px;
  padding-top: 26px;
  font-size: 82px;
  color: #ff6900;
}
h2 .col3{
  padding-top: 9px;
  font-size: 39px;
  color: #1e896f;
}
header{
  background-color: #ff5000 !important;
  font-family: "Anton";
  text-transform: uppercase;
}

footer{
  display: block;
  padding-left: 20px;
  padding-bottom: 14px;
  color: #ffffff;
  background-color: #656358;
  padding-top: 15px;
  position: relative;
  border-radius: 0 0 10px 10px;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;
}
.bs-docs-nav .navbar-nav > li > a{
  word-spacing: 6px;
  text-align: center;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.content{
  background-color: #ffffff;
  margin-top: -11px;
  border-radius: 8px 8px 0 0;
  padding-bottom: 27px;
}

#map{
  height: 300px;
}
.address{
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn{
  font-family: 'Anton';
  font-size: 18px;
  text-transform: uppercase;
}
.btn-danger:hover{
  background-color: #ffbc00;
  border-color: #ffbc00;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.col4{
  color: #4c86d3;
}
.text1{
  font: 15px/18px 'Anton';
  text-transform: uppercase;
  margin-bottom: 14px;
}
.content p{
  margin-left: 15px;
  margin-right: 15px;
}
.content li{
  margin-right: 15px;
}
#demo{
  margin-left: 15px;
}