<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @sub_categories %> <%= "de #{ @category.name }" %></h4>
  <div class="mb20">
    <%= link_to new_category_sub_category_path(@category), class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Nueva Sub Categoría
    <% end %>
    <%= link_to categories_admin_index_path, class: "btn btn-info" do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    <% end %>
  </div>
  <% if @sub_categories.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @sub_categories.each do |sub_category| %>
            <tr>
              <td><%= sub_category.name %></td>
              <td>
                <%= link_to edit_category_sub_category_path(@category, sub_category), class: "btn btn-warning" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  Editar
                <% end %>
                <%= link_to category_sub_category_path(@category, sub_category), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  Eliminar
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @sub_categories %>
  <% end %>
</div>