<%= stylesheet "/stylesheets/static_pages.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <h3>Iniciar Sesión</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form", class: "form-horizontal" }) do |f| %>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Correo" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña" %>
        </div>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="checkbox fr">
              <label>
                <%= f.check_box :remember_me %>
                 Recuérdeme
              </label>
            </div>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-sm-12">
          <%= button_tag class: "btn btn-danger fr", type: "submit" do %>
            <i class="glyphicon glyphicon-log-in"></i>
            Iniciar Sesión
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
