<div class="panel-body">
  <div class="col-sm-5">
    <%= image_tag product_supermarket.product.link, class: "img-thumbnail" %>
  </div>
  <div class="col-sm-5">
    <div class="brand">
      <%= product_supermarket.product.brand.name.upcase %>
    </div>
    <div class="name">
      <%= product_supermarket.product.name %>
    </div>
    <div class="price">
      <%= number_to_currency(product_supermarket.unit_price) %>
    </div>
    <%= link_to "", class: "btn btn-danger product-in-gondola", data: { product_id: product_supermarket.product.id } do %>
      <i class="glyphicon glyphicon-th"></i>
      Ver producto en góndola
    <% end %>
  </div>
  <div class="col-sm-2">
    <%= link_to "", class: "remove-product", data: { product_supermarket_id: product_supermarket.id, url: cart_remove_from_path(current_user.id, product_supermarket)} do %>
      &times; Eliminar
    <% end %>
  </div>
</div>