<% @cart_product_supermarkets.each_with_index do |product_supermarket, index| %>
  <%= render "selected", product_supermarket: product_supermarket %>
  <% if index < @cart_product_supermarkets.size - 1 %>
    <hr>
  <% end %>
<% end %>