<%= stylesheet "/stylesheets/select2.css" %>
<%= stylesheet "/stylesheets/jquery.bxslider.css" %>
<%= stylesheet "/stylesheets/static_pages.css" %>
<%= javascript "/javascripts/isomer.js" %>
<%= javascript "/javascripts/select2.js" %>
<%= javascript "/javascripts/select2_locale_es.js" %>
<%= javascript "/javascripts/jquery.bxslider.js" %>
<%= javascript "/javascripts/finder_products.js" %>
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <label>Supermercado </label>
    <%= select_tag :supermarket, options_for_select(Supermarket.all.collect{ |c| [c.name, c.id] }, @supermarket), class: "form-control" %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-8 col-md-8 col-xs-12">

  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="row">

    </div>
    <div class="row" id="products_suggested">
    </div>
    <div class="row mt20" id="products_selected">
      <ul>
      <% @products_selected.each do |p| %>
        <%= render 'selected', product: p %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
