<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title"><%= @gondola.category.name %></h3>
      </div>
      <div class="modal-body">
        <p><%= @product.name %> se encuentra en el nivel <b><%= @gondola_product.level %></b> y el cuerpo <b><%= @gondola_product.body %></b>.</p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Nivel/Cuerpo</td>
                <% (1..@gondola.columns_count).each do |c| %>
                  <td><%= c %></td>
                <% end %>
              </tr>
              <% (1..@gondola.rows_count).each do |r| %>
                <tr>
                  <td><%= r %></td>
                  <% (1..@gondola.columns_count).each do |c| %>
                    <% if @gondola_product.level == r && @gondola_product.body == c %>
                      <td class="body_level success"><%= image_tag @product.link.present? ? @product.link : @product.photo, class: "thumb-logo size90" %></td>
                    <% else %>
                      <td class="body_level"></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>