<% if @products_suggested.any? %>
  <p>
    <b>Estos productos también te podrían interesar</b>
  </p>
  <div id="myCarousel" class="carousel slide" data-interval="6000" data-ride="carousel">
    <div class="carousel-inner">
      <% @products_suggested.each_with_index do |product, index| %>
        <div class="item <%= "active" if index.zero? %>">
          <%= image_tag product.link.present? ? product.link : product.photo, class: "size150" %>
          <div class="carousel-caption">
            <h3><%= product.name %></h3>
            <div class="fix_clear"></div>
            <% ps = ProductSupermarket.find_by_supermarket_id_and_product_id(@supermarket.id, product.id) %>
            <%= link_to "", class: "btn btn-danger fr suggested_product", data: { url: cart_add_to_path(current_user.id, ps.id), product_supermarket_id: ps.id } do %>
              <i class="glyphicon glyphicon-shopping-cart"></i>
              Agregar al Carro
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @products_suggested.size > 1 %>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    <% end %>
  </div>
  <hr>
<% end %>