<%= form_for([@product, @gondola_product], html: { role: "form", class: "form-horizontal" }) do |f| %>
  <%= error_messages!(@gondola_product) %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.select :gondola_id, Gondola.all.collect{ |c| [c.code_name, c.id] }, { include_blank: "Seleccione gondola" }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :body, min: "1", step: "1", class: "form-control", placeholder: "Cuerpo" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :level, min: "1", step: "1", class: "form-control", placeholder: "Nivel" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :x, min: "0", step: "1", class: "form-control", placeholder: "X" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :y, min: "0", step: "1", class: "form-control", placeholder: "Y" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= button_tag class: "btn btn-default", type: "submit" do %>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Guardar
      <% end %>
      <%= link_to product_gondola_products_path(@product), class: "btn btn-info" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      <% end %>
    </div>
  </div>
<% end %>