<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <h3>Editar Asignación de Producto a Gondola</h3>
    <%= render "form" %>
  </div>
</div>