<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <h4><%= page_entries_info @gondola_products %> para <%= @product.name %></h4>
  <div class="mb20">
    <%= link_to new_product_gondola_product_path(@product), class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i>
      Asignar Góndola
    <% end %>
    <%= link_to products_admin_index_path, class: "btn btn-info" do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    <% end %>
  </div>
  <% if @gondola_products.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Gondola</th>
            <th>X</th>
            <th>Y</th>
            <th>Nivel</th>
            <th>Cuerpo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% @gondola_products.each do |gondola_product| %>
            <tr>
              <td><%= gondola_product.gondola.code_name %></td>
              <td><%= gondola_product.x %></td>
              <td><%= gondola_product.y %></td>
              <td><%= gondola_product.level %></td>
              <td><%= gondola_product.body %></td>
              <td>
                <%= link_to edit_product_gondola_product_path(@product, gondola_product), class: "btn btn-warning" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  Editar
                <% end %>
                <%= link_to product_gondola_product_path(@product, gondola_product), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  Eliminar
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @gondola_products %>
  <% end %>
</div>