<center>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                <tr>
                  <td class="headerContent">
                    <%= image_tag "http://supermarket.herokuapp.com/assets/logo_mail.png", style: "max-width:600px;", id: "headerImage campaign-icon" %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                <tr>
                  <td valign="top" class="bodyContent">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td valign="top">
                          <div style="color: rgb(163,161,155) !important;">
                            <span class="h3">Instrucciones de Confirmación</span>
                            <br>
                            <br>
                            <strong style="color: #1e896f !important, text-decoration:none">Bienvenido <%= @email %>!</strong>
                            <br>
                            <br>
                            Usted puede confirmar su cuenta a través del enlace de abajo:
                            <br>
                            <br>
                            <%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token), style: "color: #1e896f !important, text-decoration:none" %>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
                <tr>
                  <td valign="top" class="footerContent">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td colspan="2" valign="middle" id="social">
                          <div style="color: #1e896f !important, text-decoration:none">
                            &nbsp;<a href="https://twitter.com/fpsm_peru">siguenos en Twitter</a> | <a href="https://www.facebook.com/finderproductssm">siguenos en Facebook</a> &nbsp;
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" width="370">
                          <br>
                          <div style="color: rgb(163,161,155) !important;">
                            <em>FPSM &copy; 2014, Todos los derechos reservados</em>
                          </div>
                          <br>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br>
      </td>
    </tr>
  </table>
</center>