<center>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                <tr>
                  <td class="headerContent">
                    <%= image_tag "http://supermarket.herokuapp.com/assets/logo_mail.png", style: "max-width:600px;", id: "headerImage campaign-icon" %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                <tr>
                  <td valign="top" class="bodyContent">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td valign="top">
                          <div style="color: rgb(163,161,155) !important;">
                            <span class="h3">Instrucciones para restablecer contraseña</span>
                            <br>
                            <br>
                            <strong style="color: #1e896f !important, text-decoration:none">Hola <%= @resource.email %>!</strong>
                            <br>
                            <br>
                            Alguién ha solicitado un enlace para cambiar su contraseña. Usted puede hacer esto a través del enlace de abajo.
                            <br>
                            <br>
                            <%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token), style: "color: #1e896f !important, text-decoration:none" %>
                            <br>
                            <br>
                            Si tu no solicitaste esto, por favor ignore este correo.
                            <br>
                            <br>
                            Su contraseña no cambiará hasta que tu accedas al enlace de arriba y crees uno nuevo.
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
                <tr>
                  <td valign="top" class="footerContent">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td colspan="2" valign="middle" id="social">
                          <div style="color: #1e896f !important, text-decoration:none">
                            &nbsp;<a href="https://twitter.com/fpsm_peru">siguenos en Twitter</a> | <a href="https://www.facebook.com/finderproductssm">siguenos en Facebook</a> &nbsp;
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" width="370">
                          <br>
                          <div style="color: rgb(163,161,155) !important;">
                            <em>FPSM &copy; 2014, Todos los derechos reservados</em>
                          </div>
                          <br>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br>
      </td>
    </tr>
  </table>
</center>