<%= form_for(@product, html: { role: "form", class: "form-horizontal" }) do |f| %>
  <%= error_messages!(@product) %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Nombre" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_area :description, class: "form-control", placeholder: "Descripción", rows: 8 %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.grouped_collection_select :sub_category_id, Category.all, :sub_categories, :name, :id, :name, { include_blank: "Seleccione sub categoría" }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.select :brand_id, Brand.all.collect{ |c| [c.name, c.id] }, { include_blank: "Seleccione marca" }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :link, class: "form-control", placeholder: "Enlace" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3">
      <%= image_tag @product.link.present? ? @product.link : @product.photo, class: "img-thumbnail" %>
    </div>
    <div class="col-sm-9">
      <%= f.file_field :photo %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <div class="checkbox">
        <label>
          <%= f.check_box :state %>
          Activo
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= button_tag class: "btn btn-default", type: "submit" do %>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Guardar
      <% end %>
      <%= link_to products_admin_index_path, class: "btn btn-info" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      <% end %>
    </div>
  </div>
<% end %>
