<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-primary text_center">
      <div class="panel-heading">
        <div class="panel_title">
          <%= @product.name %>
        </div>
      </div>
      <div class="panel-body">
        <p>
          <strong>Categoría: </strong>
          <%= @product.sub_category.category.name %>
        </p>
        <p>
          <strong>Sub Categoría: </strong>
          <%= @product.sub_category.name %>
        </p>
          <strong>Marca: </strong>
          <%= @product.brand.name %>
        </p>
        <p>
          <%= image_tag @product.link.present? ? @product.link : @product.photo, class: "size150 img-thumbnail" %>
        </p>
      </div>
      <div class="panel-footer">
        <%= link_to edit_product_path(@product), class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-pencil"></i>
          Editar
        <% end %>
        <%= link_to product_gondola_products_path(@product), class: "btn btn-info" do %>
          <i class="glyphicon glyphicon-eye-open"></i>
          Ver Asignaciones de Gondolas
        <% end %>
        <%= link_to product_product_supermarkets_path(@product), class: "btn btn-info" do %>
          <i class="glyphicon glyphicon-eye-open"></i>
          Ver Asignaciones de Supermercados
        <% end %>
        <%= link_to products_admin_index_path, class: "btn btn-info" do %>
          <i class="glyphicon glyphicon-arrow-left"></i>
          Regresar
        <% end %>
      </div>
    </div>
  </div>
</div>