<%= form_for(@gondola, html: { role: "form", class: "form-horizontal" }) do |f| %>
  <%= error_messages!(@gondola) %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Nombre" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.select :supermarket_id, Supermarket.all.collect{ |c| [c.name, c.id] }, { include_blank: 'Seleccione supermercado' }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.select :category_id, Category.all.collect{ |c| [c.name, c.id] }, { include_blank: 'Seleccione categoría' }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.select :aisle_id, Aisle.all.collect{ |c| [c.number_name, c.id] }, { include_blank: "Seleccione pasillo" }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :color, class: "form-control", type: "color" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :xstart, min: "0", step: "0.5", class: "form-control", placeholder: "X inicio" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :ystart, min: "0", step: "0.5", class: "form-control", placeholder: "Y inicio" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :xend, min: "0", step: "0.5", class: "form-control", placeholder: "X fin" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :yend, min: "0", step: "0.5", class: "form-control", placeholder: "Y fin" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :code, class: "form-control", placeholder: "Código" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :rows_count, min: "1", step: "1", class: "form-control", placeholder: "Número de Niveles" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.number_field :columns_count, min: "1", step: "1", class: "form-control", placeholder: "Número de Cuerpos" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <div class="checkbox">
        <label>
          <%= f.check_box :state %>
          Activo
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= button_tag class: "btn btn-default", type: "submit" do %>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Guardar
      <% end %>
      <%= link_to gondolas_admin_index_path, class: "btn btn-info" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      <% end %>
    </div>
  </div>
<% end %>
