<%= stylesheet "/stylesheets/admin.css" %>
<div class="row content">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-primary text_center">
      <div class="panel-heading">
        <div class="panel_title">
          <%= @gondola.code_name %>
        </div>
      </div>
      <div class="panel-body">
        <p>
          <strong>Pasillo: </strong>
          <%= @gondola.aisle.name %>
        </p>
        <p>
          <strong>Número de filas: </strong>
          <%= @gondola.rows_count %>
        </p>
        <p>
          <strong>Número de columnas: </strong>
          <%= @gondola.columns_count %>
        </p>
      </div>
      <div class="panel-footer">
        <%= link_to edit_gondola_path(@gondola), class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-pencil"></i>
          Editar
        <% end %>
        <%= link_to gondolas_admin_index_path, class: "btn btn-info" do %>
          <i class="glyphicon glyphicon-arrow-left"></i>
          Regresar
        <% end %>
      </div>
    </div>
  </div>
</div>