<% if @errors %>
  <div class="error_messages alert alert-dismissable alert-danger fade in">
    <button type="button" type="button" class="close" data-dismiss="alert">&times;</button>
    <h2><strong>An error ocurred</strong></h2>
    <ul>
      <% @errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <li>Please change a few things up and try submitting again.</li>
    </ul>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-warning alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%= flash[:title] ? flash[:title] : "Alerta" %></strong>
    <%= flash[:alert] %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger alert-dismissable fade in ">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%= flash[:title] ? flash[:title] : "Error" %></strong>
    <%= flash[:error] %>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%= flash[:title] ? flash[:title] : "Aviso" %></strong>
    <%= flash[:notice] %>
  </div>
<% end %>