<header class="header navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "FPSM", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to admin_index_path do %>
            <i class="glyphicon glyphicon-user"></i>
            Administrador
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="glyphicon glyphicon-lock"></i>
            Cerrar Sesión
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>