<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "FPSM", root_path, class: "navbar-brand" %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Sobre nosotros", about_us_path %>
        </li>
        <li>
          <%= link_to "Contáctenos", contact_us_path %>
        </li>
        <li>
          <%= link_to "Cómo FPSM trabaja", how_fpsm_works_path %>
        </li>
      </ul>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to cart_path(current_user) do %>
              <i class="glyphicon glyphicon-shopping-cart"></i>
              (<span class="cart-count"><%= current_user.cart_count %></span>)
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle col-xs-10 col-xs-offset-1 col-sm-12" data-toggle="dropdown">
              <%= current_user.person_profile.first_name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li>
                  <%= link_to admin_index_path do %>
                    <i class="glyphicon glyphicon-eye-open"></i>
                    Panel de Administrador
                  <% end %>
                </li>
              <% end %>
              <li>
                <%= link_to edit_person_profile_path(current_user.person_profile) do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  Editar mi Perfil
                <% end %>
              </li>
              <li>
                <%= link_to lists_path do %>
                  <i class="glyphicon glyphicon-list"></i>
                  Mis Listas
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="glyphicon glyphicon-lock"></i>
                  Cambiar Contraseña
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="glyphicon glyphicon-log-out"></i>
                  Cerrar Sesión
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to new_user_session_path do %>
              <i class="glyphicon glyphicon-log-in"></i>
              Iniciar Sesión
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="glyphicon glyphicon-user"></i>
              Registrarse
            <% end %>
          </li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>