<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="pakgva">
  <%= csrf_meta_tags %>
  <title>Finder Products Supermarket</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/errors' %>
  <div class="container bs-docs-container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
